@page "{id}"
@using Crowdfund.Models;
@model Crowdfund.Pages.Projects.DetailsModel
@{
}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-content">
				<div class="row">
					<div class="col-lg-8">
						<div class="featured-games header-text">
							<div class="heading-section">
								<h4>@Model.Project.Title</h4>
								<h5>@Model.Project.Creator.FirstName @Model.Project.Creator.LastName</h5>
							</div>
							<div class="fa-section">
								<p>@Model.Project.ProjectCategory</p>
								<p>@Model.Project.Description</p>
								<p>Created: @Model.Project.CreationDate.ToShortDateString()</p>
								<p>Progress: @Model.Project.Contributions / @Model.Project.Goal</p>
							</div>
							<div class="fa-section">
								<p>Backers:</p>
								@{
									foreach (var backer in Model.Backers.Where(b => b.ProjectsInvested.Contains(Model.Project)))
									{
										<p>@backer.FirstName @backer.LastName
										@backer.Contributions.Where(c => c.Project.Id == Model.Project.Id).Select(c => c.Amount).Sum()</p>
									}
								}
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="top-downloaded">
							<div class="heading-section">
								<h4>Rewards</h4>
							</div>
							<ul>
								@{
									foreach(var reward in Model.Project.Rewards)
									{
										<li>
											<h4>@reward.Title</h4>
											<h6>@reward.Description</h6>
											<span>100 &euro;</span>
											@{
												if (InitialModel.CurrentRole.Equals("Backer"))
												{
													<div class="text-button"><a href="#">Select</a></div>
												}
											}
										</li>
									}
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>