@page "{id}"
@using Crowdfund.Models;
@model Crowdfund.Pages.Projects.DetailsModel
@{
}

<div class="row">
	<div class="col-lg-8">
		<div class="featured-games header-text">
			<div class="heading-section">
				<h4 style="margin-bottom:1px">@Model.Project.Title</h4>
				<p style="color:white; margin-bottom:20px"><font color="#ec6090"></font> @Model.Project.Description</p>

				@*	you would not be able to navigate off project page if no image was inserted	*@
				@{if (Model.Project.ImgUrl != null)
					{<h4><img src="@(Model.Project.ImgUrl)" style="width:50%" /></h4>}}
				
				<h5><font color="#ec6090">Creator: </font>@Model.Project.Creator.FirstName @Model.Project.Creator.LastName</h5>
				<h5 style="margin-top:20px"><font color="#ec6090">Progress: </font>@Model.Project.Contributions / @Model.Project.Goal</h5>
			</div>
			<div class="fa-section" style="margin-bottom:25px">
				<p style=" color:white"><font color="#ec6090">Category: </font>@Model.Project.ProjectCategory</p>
				<p style=" color:white"><font color="#ec6090">Created On: </font> @Model.Project.CreationDate.ToShortDateString()</p>
			</div>


			<div class="heading-section" style="margin-bottom:25px">
				<h5 style="margin-bottom:10px">More Media</h5>

			@{if (Model.Project.VideoUrl != null)

				{
						string newurl = Model.Project.VideoUrl.Replace("/watch?v=", "/embed/");
						<iframe width="680" height="315" src="@newurl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				}}
				</div>

			<div class="fa-section" style="margin-bottom:25px">
				<div class="heading-section">
					<h5>Backers</h5>
				</div>
				<table class="table">
					<thead style="color: #ec6090">
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Contribution</th>
						</tr>
					</thead>
					<tbody>
						@{foreach (var backer in Model.Backers.Where(b => b.ProjectsInvested.Contains(Model.Project)))
						{
							<tr style="color: white">
								<td>@backer.FirstName</td>
								<td>@backer.LastName</td>
								<td>@backer.Contributions.Where(c => c.Project.Id == Model.Project.Id).Select(c => c.Amount).Sum()</td>
							</tr>
						}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="top-downloaded">
			<div class="heading-section">
				<h4>Rewards</h4>
			</div>
			<ul>
				<li style="margin-bottom:5px">
					<h4>@Model.Project.Rewards[0].Title</h4>
					<h6>@Model.Project.Rewards[0].Description</h6>
					<span>50 &euro;</span>
				</li>
				<li style="margin-bottom:5px">
					<h4>@Model.Project.Rewards[1].Title</h4>
					<h6>@Model.Project.Rewards[1].Description</h6>
					<span>150 &euro;</span>
				</li>
				<li style="margin-bottom:5px">
					<h4>@Model.Project.Rewards[2].Title</h4>
					<h6>@Model.Project.Rewards[2].Description</h6>
					<span>500 &euro;</span>
				</li>
			</ul>
			@{
				if (InitialModel.CurrentRole.Equals("Backer"))
				{
					<form method="post">
						<div class="form-group">
							<p class="text-white">
								<label asp-for="Contribution.Amount" class="control-label">Contribute</label>
								<input asp-for="Contribution.Amount" class="form-control" />
							</p>
						</div>

						<div class="form-group" style="margin-top:10px">
							<p class="text-white">
								<input class="btn btn-outline-light" type="submit" value="Contribute" />
							</p>
						</div>
					</form>
				}
			}
		</div>
	</div>
</div>