@page "{id}"
@using Crowdfund.Models;
@model Crowdfund.Pages.Projects.DetailsModel
@{
}

<div class="row">
	<div class="col-lg-8">
		<div class="featured-games header-text">
			<div class="heading-section">
				<h4>@Model.Project.Title</h4>

					@*	you would not be able to navigate off project page if no image was inserted	*@
					@{if (Model.Project.ImgUrl != null)
				{<h4><img src="@(Model.Project.ImgUrl)object-fit width= " 100%" /></h4>}}
				
				<h5><font color="#ec6090">Creator: </font>@Model.Project.Creator.FirstName @Model.Project.Creator.LastName</h5>
			</div>
			<div class="fa-section">
				<p style=" color:white"><font color="#ec6090">Category: </font>@Model.Project.ProjectCategory</p>
				<p style=" color:white"><font color="#ec6090">Description: </font> @Model.Project.Description</p>
				<p style=" color:white"><font color="#ec6090">Created: </font> @Model.Project.CreationDate.ToShortDateString()</p>
				<p style=" color:white"><font color="#ec6090">Progress: </font> @(Model.Project.Contributions)/ <font color="#ec6090">@(Model.Project.Goal)</font></p>
			</div>


				<div class="heading-section">
				<h5>More Media</h5>

			@{if (Model.Project.VideoUrl != null)


					{
						string newurl = Model.Project.VideoUrl.Replace("/watch?v=", "/embed/");
						<iframe width="560" height="315" src="@newurl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				}}
				</div>

			<div class="fa-section">
				<div class="heading-section">
					<h5>Backers</h5>
				</div>
				@{
					foreach (var backer in Model.Backers.Where(b => b.ProjectsInvested.Contains(Model.Project)))
					{
						<p>@backer.FirstName @backer.LastName
						@backer.Contributions.Where(c => c.Project.Id == Model.Project.Id).Select(c => c.Amount).Sum()</p>
					}
				}
			</div>
			<div class="fa-section">
				<div class="heading-section">
					<h5>Status Updates</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="top-downloaded">
			<div class="heading-section">
				<h4>Rewards</h4>
			</div>
			<ul>
				@{
					foreach(var reward in Model.Project.Rewards)
					{
						<li>
							<h4>@reward.Title</h4>
							<h6>@reward.Description</h6>
							<span>100 &euro;</span>
							@{
								if (InitialModel.CurrentRole.Equals("Backer"))
								{
									<div class="text-button"><a href="#">Select</a></div>
								}
							}
						</li>
					}
				}
			</ul>
		</div>
	</div>
</div>