@page
@using Crowdfund.Models;
@model Crowdfund.Pages.Backers.IndexModel
@{
	ViewData["Title"] = "Backers";
}

@if (TempData["AlertMessage"] != null)
{
	<div class="alert alert-success">
		<strong>Success !</strong> @TempData["AlertMessage"]
		<button type="button" class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
	</div>
}

@******layout start**********@

<div class="main-banner">
	<div class="row">
		<div class="col-lg-7">
			<div class="header-text">
				<h4>Backers</h4>
				@******layout end**********@
				<div class="main-button">
					<a class="nav-link" asp-area="" asp-page="/Backers/Create">Create a Backer</a>
				</div>

				<table class="table">
					<thead style="color: #ec6090">
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Creation Date</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody>
						@foreach (Project project in Model.Projects)
						{
							<tr style="color: white">
								<td>@project.Title</td>
								<td>@project.Description</td>
								<td>@project.CreationDate</td>
								<td><a asp-page="Details" asp-route-Id="@project.Id">Details?</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="~/js/popupalert.js"></script>