@page
@model Crowdfund.Pages.ProfileModel
@{
	ViewData["Title"] = "Profile";
}

<div class="row">
	<div class="col-lg-12">
		<div class="main-profile ">
			<div class="row">
				<div class="col-lg-4">
					@{if (InitialModel.CurrentRole.Equals("Creator"))
					{
							<img src="@Model.Creator.ImgUrl" alt="" style="border-radius: 23px;">
					}}
					@{else if (InitialModel.CurrentRole.Equals("Backer"))
					{
							<img src="@Model.Backer.ImgUrl" alt="" style="border-radius: 23px;">
					}}

					//<img src="@Model.Creator" alt="" style="border-radius: 23px;">
				</div>
				<div class="col-lg-4 align-self-center">
					<div class="main-info header-text">
											
					<span>@InitialModel.CurrentRole</span>
						<p></p>
					</div>
				</div>
				<div class="col-lg-4 align-self-center">
					<ul>
					@{if (InitialModel.CurrentRole.Equals("Creator"))
					{
						<li>Projects Created <span>@Model.Creator.ProjectsCreated.Count()</span></li>
							<li>Total Money Raised <span>@Model.Creator.ProjectsCreated.Select(p => p.Contributions).Sum() &euro;</span></li>
					}}
					@{else if (InitialModel.CurrentRole.Equals("Backer"))
					{
							<li>Projects Funded <span>@Model.Backer.ProjectsInvested.Count()</span></li>
							<li>Total Money Given <span>@Model.Backer.Contributions.Select(c => c.Amount).Sum() &euro;</span></li>
					}}
					</ul>
				@{if (InitialModel.CurrentRole.Equals("Creator"))
					{
						<div class="col-lg-12" style="padding-top: 30px; text-align:right">
							<div class="main-button">
								<a href="~/Projects/Create">Create Project</a>
							</div>
						</div>
					}}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ***** Banner End ***** -->
<!-- ***** Gaming Library Start ***** -->
<div class="gaming-library profile-library">
	<div class="col-lg-12">
		<div class="heading-section">
		@{if (InitialModel.CurrentRole.Equals("Creator"))
			{
				<h4><em>Created</em> Projects</h4>
				@foreach (var project in Model.Creator.ProjectsCreated)
				{
					<div class="item">
						<ul>
							<li><img src="~/Content/assets/images/avatar-01.jpg class=templatemo-item" /></li>
							<li><h4>@project.Title</h4><span>@project.ProjectCategory</span></li>
							<li><h4>Date Created</h4><span>@project.CreationDate</span></li>
							<li><h4>Total Contributions</h4><span>@project.Contributions</span></li>
							<li><h4>Goal</h4><span>@project.Goal</span></li>
							<li><div class="main-border-button"><a href="~/Projects/Details/@project.Id">Details</a></div></li>
						</ul>
					</div>
				}
			}}
		@{else if (InitialModel.CurrentRole.Equals("Backer"))
		{
			<h4><em>Funded</em> Projects</h4>
				@foreach (var project in Model.Backer.ProjectsInvested)
				{
					<div class="item">
						<ul>
							<li><img src="~/Content/assets/images/avatar-01.jpg class=templatemo-item" /></li>
							<li><h4>@project.Title</h4><span>@project.ProjectCategory</span></li>
							<li><h4>Date Created</h4><span>@project.CreationDate</span></li>
							<li><h4>My Contributions</h4><span>@Model.Backer.Contributions.Where(c=> c.Project.Id == project.Id).Select(c=> c.Amount).Sum()</span></li>
							<li><h4>Project Total</h4><span>@project.Contributions / @project.Goal</span></li>
							<li><div class="main-border-button"><a href="~/Projects/Details/@project.Id">Details</a></div></li>
						</ul>
					</div>
				}
		}}
		</div>
						
						
	</div>
</div>