@page "{id}"
@model Crowdfund.Pages.Creators.DetailsModel
@{
    ViewData["Title"] = "User Details";
}

@*<h1>@Model.Backer.FirstName @Model.Backer.LastName</h1>
*@
<h2>Projects with Creator</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Creator</th>
        </tr>
    </thead>
    @*    <tbody>
        @foreach (var project in Model.BackerProjects)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>@project.Category</td>
                <td>@project.Creator</td>
            </tr>
        }
    </tbody>*@
</table>